html, body{
    font-size: 16pt;
    font-family: Arial;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
body{
    background-color: #674497;
}
header{
    width: 100%;
    height: 80px;
}
h1{
    margin: 0;
    padding: 0;
    line-height: 100px;
}
 .input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: absolute;
    background: transparent;
    padding: 4px;
    font-size: 16px;
    vertical-align: bottom;
    border: none;

}
nav, ul{
    width: 100%;
    height: 50px;

    margin: 0;
    padding: 0;
   
}
ul{
    height: 100%;
    background-color:black;
    list-style-type: none;
}
li{
    display: block;
    float: left;

    height: 100%;
    width: 20%;

    text-align:center;
    line-height: 50px;
}
a{
    display: block;
    color: white;
    
}
a:hover{
    color: white;
    background-color: #674497;
}
.center{
    width: 90%;
    height: calc(100%-90px);
    float: center;
    padding-left: 20px;
    margin: 40px;
}
.h2{
    padding-left: 10px;
    margin: 50px;
}
.h3{
    float: right;
    padding-right: 55px;
    margin: 20px;
}
.h4{
    padding-left: 10px;
    margin: 50px;
    list-style-type: circle;
}
.sect{
    width: 80%;
    height: 50%;
    float: right;
}
/*******************/
/////**from net**///
.site-footer {
    background-color: #000000;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: 50px;
    color: #b7b3bc;
    font-size: 13px;
    line-height: 22px;
}
.col-md-4, .col-md-6, .col-md-8, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.social-footer {
    width: 248px;
    height: 20px;
    display: block;
    float: none !important;
    margin: 0 auto;
}

/----------------------/

/*****************/
/*    IMAGES     */
/*****************/
.games{
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 300px;
    backface-visibility: 30%;
    overflow: hidden;
}
.posters{
    top: -100px;
    float: left;
    width: 100%;

}
.about{
    width: 30%;
    height:450px;
    float: right;
    padding-right: 55px;
    margin: 20px;
}
.right{
    float: right;
    margin-right: 75px;
    margin-top: 40px;
    padding:5px; 
}
.r1{
    width: 60%;
    float: right;
    margin: 5px;
    height: 800px;
}
.W{
    width: 60%;
    float: right;
    margin: 5px;
    height: 600px;
}
.p1{
    width: 60%;
    float: right;
    margin: 5px;
}
.col1{
    width: 30%;
    height: 300px;
    padding: 10px;
    margin:-7px;
}
.c1{
    width: 30%;
    padding: 10px;
    margin: -7px;
}
.col2{
    width: 30%;
    height: 300px;
    align-content: center;
}
.col3{
    width: 30%;
    height: 300px;
}
.col4{
    width: 30%;
    height: 300px;
}
.col5{
    width: 30%;
    height: 300px;
}
.col6{
    width: 30%;
    height: 300px;
}
@media screen and (min-width:991px){
    /*for desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
